/* 字體規範 */
html{
    scroll-behavior: smooth;
}
body{
   background-color: black;
}

h1,h2,h3,h4,h5,a,p,span,button,label{
    color: #eee;
    line-height: 1.5;
}

h1{
    font-size:45px ;
    position: relative;
}

h2{
    font-size:28px ;
    margin-bottom: 1em;
}

h3{
    font-size:23px ;
}

h4{
    font-size:18px ;
}

h5{
    font-size:15px ;
}

p{
    font-size:13px ;
    text-align: justify;
}
a{
    font-size:15px ;
    text-decoration: none;
}
span,label{
    font-size:15px ;
}

h1,h5{
    text-align: center;
}

h1::before{
    content: '+';
    font-size: 15px;
    position: absolute;
    top: 10px;
}
/* ----------------------------------------- */

/* banner */
.banner{
    width: 100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner .logo{
    width: 100%;
    text-align: center;
}

.banner .text{
    position: absolute;
    bottom: 7em;
}

.banner .text::after{
    content: '';
    width: 5em;
    border: 1px solid #eee;
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    bottom: -3em;
    right: -15px;
}

/* ----------------------------------------- */

/* header */
header{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display:flex;
    justify-content: space-between;
    font-size: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

header img{
    height: 50px;
}

header a{
    margin: 0 10px;
    padding: 5px 10px;
    line-height: 50px;
}

header a.show{
    color: #666;
    border-bottom: 1px solid #d95521;
}

.mobile{
    display: none;
}
/* ----------------------------------------- */

/* service */
.service{
    width: 45%;
    margin: auto;
    padding: 5em 0;
}

.service h1::before{
    left: 190px;
}

.service .card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5em 0;
}

.service .card .text{
    width: 50%;
}

.service .card .text p{
    border-left: 3px solid #eee;
    padding-left: 15px;
}

.service .card .text h2{
    display: inline-block;
}

.service .card .text span img{
    padding-bottom: 10px;
    padding-right: 5px;
}

.service .card img{
    vertical-align: middle;
}

.service .card:nth-child(2n){
    flex-direction: row-reverse;
}
/* ----------------------------------------- */

/* showreel */
.showreel{
    width: 100%;
    margin: auto;
    padding: 5em 0;
}

.showreel h1::before{
    left: 560px;
}

.showreel .wrapper{
    margin: 3em 0;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 3em 0;
}

.showreel .cover{
    width: 960px;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.showreel .outer{
    width: 960px;
    margin: auto;
    display: flex;
    transition: transform 0.3s ease-in-out;
}

.showreel .card{
    padding: 0 10px;
}

.showreel .card .text{
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}
.showreel .card .text span{
    border: 1px solid #eee;
    width: 2em;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 1em;
}
.showreel .card .text a:last-child{
    font-size: 10px;
    line-height: 2.5;
}

.showreel .card img{
    vertical-align: middle;
}

.showreel .wrapper #btnLeft,
.showreel .wrapper #btnRight{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 35px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.showreel .wrapper #btnLeft{
    left: 10em;
    z-index: 3;
}

.showreel .wrapper #btnRight{
    right: 10em;
}

.showreel .wrapper #btnLeft::before,
.showreel .wrapper #btnLeft::after,
.showreel .wrapper #btnRight::before,
.showreel .wrapper #btnRight::after
{
    content: '';
    width: 3.5em;
    border: 1px solid #d95521;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
}
.showreel .wrapper #btnLeft::before{
    transform: translateY(1.25em) rotate(45deg);
}

.showreel .wrapper #btnLeft::after{
    transform: translateY(-1.25em) rotate(-45deg);
}

.showreel .wrapper #btnRight::before{
    transform: translateY(1.25em) rotate(-45deg);
}

.showreel .wrapper #btnRight::after{
    transform: translateY(-1.25em) rotate(45deg);
}

.showreel>button{
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    cursor:pointer;
    transition: .3s;
}

.showreel>button:hover{
    border: 1px solid #d95521;
    background-color: #d95521;
    color: #eee;
    transition: .3s;
}

.showreel .mb{
    display: none;
}
/* ----------------------------------------- */

/* team */
.team{
    width: 70%;
    margin: auto;
    padding: 5em 0;
}

.team h1::before{
    left: 400px;
}

.team .wrapper{
    display: flex;
}

.team .card{
    width: calc(100% / 3);
    background-color: #333;
    margin: 6em 2em;
    padding: 20px;
    position: relative;
}

.team .card:first-child{
    transform: translateY(2em);
}

.team .card:last-child{
    transform: translateY(-2em);
}

.team .card h4::before{
    content: '';
    width: 1.5em;
    border: 1px solid #eee;
    display: flex;
    position: absolute;
    top: 38px;
    left: -1em;
}

.team .card i{
    width: 150px;
    height: 150px;
    background-color: #d95521;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: 50px;
    margin: 0.5em auto;
}

.team .card h4,p{
    line-height: 2;
}
/* ----------------------------------------- */

/* contact */
.contact{
    width: 100%;
    display: flex;
    margin: auto;
    padding: 5em 0 0;
}

.contact h1::before{
    left: -20px;
}

.contact .left{
    width: 50%;
    background-color: #fff;
}

.contact .wrapper{
    width: 55%;
    margin: 5em 5em 5em auto;
}

.contact .text>h1,
.contact .text>p,
.contact .add>p,
.contact .add>h1{
    color: #333;
    text-align: left;
}

.contact .wrapper .text{
    margin-bottom: 5em;
}

.contact .wrapper .add{
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
}
.contact .wrapper .add i{
    font-size: 28px;
}

.contact .wrapper .add .tel{
    font-size: 28px;
    color: #d95521;
}

.contact .wrapper .logo img{
    vertical-align: middle;
    width: 50px;
    margin: 2em 0;
}


.contact .right{
    width: 50%;
    background-color: #222;
}


.contact .information{
   width: 60%;
    margin: 5em auto 5em 5em ;
    display: flex;
    flex-wrap: wrap;
}

.contact .information label{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 1em 0;
    margin: 0.5em 0;
}

.contact .information label:nth-child(4n){
    border-bottom: none;
}

.contact .information input{
    background-color: transparent;
    outline: none;
    border: none;  
}

.contact .information>input{
    padding: 10px 50px;
    background-color: #eee;
    border-radius: 50px;
    cursor: pointer;
}

.contact .information textarea{
    padding: 5px;
    box-sizing: border-box;
    margin: 1em 0;
    resize: none;
    width: 100%;
    border: 1px solid #eee;
    background-color: transparent;
    outline: none;
}

.contact .information textarea:focus{
    border: 1px solid #d95521;
}
/* ----------------------------------------- */

/* footer */
.footer{
    height: 50px;
}

.footer>p{
    text-align: center;
    line-height: 50px;
}
/* ----------------------------------------- */

/* RWD */
@media screen and (max-width:414px) {

    .header{
        display: none;
    }

    .header.open{
        display: flex;
    }

    .mobile{
        display: flex;
        position: fixed;
        top: 5%;
        right: 3%;
        z-index: 20;
    }

    .hb{
        display: flex;
        width:50px;
        height:50px;
        position: relative;
        margin-left: auto;
    }

    .hb span {
        width: 70%;
        height: 3px;
        background-color: #eee;
        position: absolute;
        margin: auto;
    }

    .hb span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .hb span:nth-child(2) {
        opacity: 1;
        transition: opacity 0.3s 0.6s;
    }

    .hb span:nth-child(3) {
        width: 30%;
        translate: 0px 10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .hb span:nth-child(1).show {
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate 0.3s,
            rotate 0.6s 0.3s;
    }

    .hb span:nth-child(2).show {
        display: none;
        transition: opacity 0.3s;
    }

    .hb span:nth-child(3).show {
        width: 70%;
        translate: 0px 0px;
        rotate: -45deg;
        transition: translate 0.3s,
            rotate 0.6s 0.3s;
    }

    header{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        top: 0;
        background-color: black;
        text-align: center;
    }

    header .logo{
        display: block;
        width: 100%;
        /* border: 1px solid red; */
    }

    header img{
        height: 100px;
    }
    
    header a{
        /* border: 1px solid red; */
        display: block;
        margin: 3em auto;
        padding: 5px 0;
        line-height: 20px;
    }
    
    header a.show{
        color: #666;
        border-bottom: 3px solid #d95521;
        width: 30%;
        display: flex;
        justify-content: center;
    }
    
/* service */
    .service{
        width: 70%;   
    }

    .service h1::before{
        left: 15px;
    }

    .service .card{
        justify-content: center;
    }

    .service .card .text{
        width: 100%;
        margin-bottom: 2em;
    } 
/* ----------------------------------------- */

 /* showreel */
    .showreel h1::before{
        left: 45px;
    }

    .showreel .wrapper{
        margin: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    .showreel .outer{
        flex-wrap: wrap;
        width: 90%;
    }
    .showreel .card{
        padding: 0;
        margin: 1em 0;
    }

    .showreel .card:nth-of-type(3n+1){
        display: none;
    }

    .showreel .wrapper #btnLeft,
    .showreel .wrapper #btnRight{
        display: none;
    }

    .showreel .mb{
        display: flex;
    }
    
    .showreel .pc{
        display: none;
    }

    .showreel>button{
        background-color: #eee;
        border: none;
        color: #333;
    }
/* ----------------------------------------- */

 /* team */
    .team{
        width: 85%;
    }

    .team h1::before{
        left: 80px;
    }

    .team .wrapper{
        flex-wrap: wrap;
    }

    .team .card{
        width: calc(100% / 1);
        margin: 3em 2em;
    }
/* ----------------------------------------- */

/* contact */
    .contact{
        flex-wrap: wrap;

        width: 100%;
        display: flex;
        margin: auto;
        padding: 5em 0 0;
    }

    .contact .left{
        width: 100%;
    }

    .contact .wrapper{
        width: 80%;
        margin: 5em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact .text>h1,
    .contact .text>p{
        text-align: center;
    }
    .contact .add>p,
    .contact .add>h1{
        text-align: left;
    }

    .contact .wrapper .text{
        margin-bottom: 5em;
    }

    .contact .wrapper .tel{
        border-bottom: 1px solid #ccc;
        margin: 1em 0;
    }

    .contact .wrapper .add{
        border-bottom: none;
    }

    .contact .right{
        width: 100%;
    }

    .contact .information{
        justify-content: center;
    }
/* ----------------------------------------- */

}