/* 字體規範 */
html{
    scroll-behavior: smooth;
}
body{
   background-color: black;
}

h1,h2,h3,h4,h5,a,p,span,button,label,input,textarea{
    color: #eee;
    line-height: 1.5;
}

h1{
    font-size:45px ;
    position: relative;
}

h2{
    font-size:28px ;
    margin-bottom: 1em;
}

h3{
    font-size:23px ;
}

h4{
    font-size:18px ;
}

h5{
    font-size:15px ;
}

p{
    font-size:13px ;
    text-align: justify;
}
a{
    font-size:15px ;
    text-decoration: none;
}
span,label{
    font-size:15px ;
}

h1,h5{
    text-align: center;
}

h1::before{
    content: '+';
    font-size: 15px;
    position: absolute;
    top: 10px;
}
/* ----------------------------------------- */

/* banner */
.banner{
    width: 100%;
    height:100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

.banner__logo{
    width: 100%;
    text-align: center;
}

.banner__text{
    position: absolute;
    bottom: 7em;
    animation: upDown 2s infinite ;
}

.banner__text::after{
    content: '';
    width: 5em;
    border: 1px solid #eee;
    display: flex;
    transform: rotate(90deg);
    position: absolute;
    bottom: -3em;
    right: -15px;
}

@keyframes upDown {
    0%{
        bottom: 7em;
    }
    50%{
        bottom: 5em;
    }
    100%{
        bottom: 7em;
    }
}

/* ----------------------------------------- */

/* header */
header{
    width: 80%;
    margin: auto;
    padding: 20px 0;
    display:flex;
    justify-content: space-between;
    font-size: 0;
    position: sticky;
    top: 0;
    z-index: 10;
}

header img{
    height: 50px;
}

header a{
    margin: 0 10px;
    padding: 5px 10px;
    line-height: 50px;
    transition: .3s;
}

header a:hover{
    color: #666;
    transition: .3s;
}

header a.show{
    color: #666;
    border-bottom: 1px solid #d95521;
}

.mobile{
    display: none;
}



/* ----------------------------------------- */

/* service */
.service{
    width: 45%;
    margin: auto;
    padding: 5em 0;
}

.service h1::before{
    left: 190px;
}

.service__card{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 5em 0;
}

.service__text{
    width: 50%;
}

.service__text p{
    border-left: 3px solid #eee;
    padding-left: 15px;
}

.service__text h2{
    display: inline-block;
}

.service__text span img{
    padding-bottom: 10px;
    padding-right: 5px;
}

.service__card img{
    vertical-align: middle;
}

.service__card:nth-child(2n){
    flex-direction: row-reverse;
}
/* ----------------------------------------- */

/* showreel */
.showreel{
    width: 100%;
    margin: auto;
    padding: 5em 0;
}

.showreel h1::before{
    left: 560px;
}

.showreel__wrapper{
    margin: 3em 0;
    background-color: rgba(255, 255, 255, 0.2);
    position: relative;
    padding: 3em 0;
}

.showreel__cover{
    width: 960px;
    margin: auto;
    display: flex;
    overflow: hidden;
}
.showreel__outer{
    width: 960px;
    margin: auto;
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.showreel__card{
    padding: 0 10px;
}

.showreel__text{
    display: flex;
    justify-content: space-between;
    margin: .5em 0;
}
.showreel__text span{
    border: 1px solid #eee;
    width: 2em;
    display: inline-block;
    margin-bottom: 4px;
    margin-right: 1em;
}
.showreel__text a:last-child{
    font-size: 10px;
    line-height: 2.5;
}

.showreel__card img{
    vertical-align: middle;
}

.showreel__wrapper #btnLeft,
.showreel__wrapper #btnRight{
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 35px 20px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.showreel__wrapper #btnLeft{
    left: 10em;
    z-index: 3;
}

.showreel__wrapper #btnRight{
    right: 10em;
}

.showreel__wrapper #btnLeft::before,
.showreel__wrapper #btnLeft::after,
.showreel__wrapper #btnRight::before,
.showreel__wrapper #btnRight::after
{
    content: '';
    width: 3.5em;
    border: 1px solid #d95521;
    display: flex;
    position: absolute;
    right: 0;
    left: 0;
}
.showreel__wrapper #btnLeft::before{
    transform: translateY(1.25em) rotate(45deg);
}

.showreel__wrapper #btnLeft::after{
    transform: translateY(-1.25em) rotate(-45deg);
}

.showreel__wrapper #btnRight::before{
    transform: translateY(1.25em) rotate(-45deg);
}

.showreel__wrapper #btnRight::after{
    transform: translateY(-1.25em) rotate(45deg);
}

.showreel__pc{
    background-color: transparent;
    border: 1px solid #eee;
    border-radius: 20px;
    padding: 10px 50px;
    margin: auto;
    display: flex;
    cursor:pointer;
    transition: .3s;
}

.showreel__pc:hover{
    border: 1px solid #d95521;
    background-color: #d95521;
    color: #eee;
    transition: .3s;
}

.showreel__mb{
    display: none;
}
/* ----------------------------------------- */

/* team */
.team{
    width: 70%;
    margin: auto;
    padding: 5em 0;
}

.team h1::before{
    left: 400px;
}

.team__wrapper{
    display: flex;
}

.team__card{
    width: calc(100% / 3);
    background-color: #333;
    margin: 6em 2em;
    padding: 20px;
    position: relative;
}

.team__card:first-child{
    transform: translateY(2em);
}

.team__card:last-child{
    transform: translateY(-2em);
}

.team__card h4::before{
    content: '';
    width: 1.5em;
    border: 1px solid #eee;
    display: flex;
    position: absolute;
    top: 38px;
    left: -1em;
}

.team__card i{
    width: 150px;
    height: 150px;
    background-color: #d95521;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    line-height: 150px;
    font-size: 50px;
    margin: 0.5em auto;
}

.team__card h4,p{
    line-height: 2;
}
/* ----------------------------------------- */

/* contact */
.contact{
    width: 100%;
    display: flex;
    margin: auto;
    padding: 5em 0 0;
}

.contact h1::before{
    left: -20px;
}

.contact__left{
    width: 50%;
    background-color: #fff;
}

.contact__wrapper{
    width: 55%;
    margin: 5em 5em 5em auto;
}

.contact__text>h1,
.contact__text>p,
.contact__add>p,
.contact__add>h1{
    color: #333;
    text-align: left;
}

.contact__text{
    margin-bottom: 5em;
}

.contact__add{
    border-bottom: 1px solid #ccc;
    padding: 1em 0;
}
.contact__add i{
    font-size: 28px;
}

.contact__tel{
    font-size: 28px;
    color: #d95521;
}

.contact__logo img{
    vertical-align: middle;
    width: 50px;
    margin: 2em 0;
}


.contact__right{
    width: 50%;
    background-color: #222;
}


.contact__information{
    width: 60%;
    margin: 5em auto 5em 5em ;
    display: flex;
    flex-wrap: wrap;
}

.contact__information label{
    width: 100%;
    border-bottom: 1px solid #eee;
    padding: 1em 0;
    margin: 0.5em 0;
}

.contact__information label.--active{
    border-bottom: 1px solid #d95521;
    color: #d95521;
    transition: all .2s;
}

.contact__information label:nth-child(4n){
    border-bottom: none;
}

.contact__information input{
    background-color: transparent;
    outline: none;
    border: none;  
}

.contact__information>input{
    padding: 10px 50px;
    background-color: #eee;
    border-radius: 50px;
    cursor: pointer;
    color: #333;
}

.contact__information textarea{
    padding: 5px;
    box-sizing: border-box;
    margin: 1em 0;
    resize: none;
    width: 100%;
    border: 1px solid #eee;
    background-color: transparent;
    outline: none;
}

.contact__information textarea:focus{
    border: 1px solid #d95521;
}

/* ----------------------------------------- */

/* footer */
.footer{
    height: 50px;
}

.footer>p{
    text-align: center;
    line-height: 50px;
}
/* ----------------------------------------- */
/* ----------------------------------------- */

/* RWD */
@media screen and (max-width:414px) {

    header{
        opacity: 0;
        pointer-events: none;
        transition: opacity .7s;
    }

    .header.--open{
        opacity: 1;
        pointer-events: auto;
        transition: opacity .7s ;
    }

    .mobile{
        display: flex;
        position: fixed;
        top: 5%;
        right: 7%;
        z-index: 20;
        /* border: 1px solid blue; */
    }

    .mobile__hb{
        display: flex;
        width:50px;
        height:50px;
        position: relative;
        margin-left: auto;
        /* border: 1px solid red; */
    }

    .mobile__hb span {
        width: 70%;
        height: 3px;
        background-color: #eee;
        position: absolute;
        margin: auto;
        right: 0;
        left: 0;
        top: 50%;
    }

    .mobile__hb span:nth-child(1) {
        translate: 0px -10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .mobile__hb span:nth-child(2) {
        opacity: 1;
        transition: opacity 0.3s 0.6s;
    }

    .mobile__hb span:nth-child(3) {
        width: 30%;
        margin-left: 15% ;
        translate: 0px 10px;
        rotate: 0deg;
        transition: translate 0.3s 0.3s,
            rotate 0.3s 0s;
    }

    .mobile__hb span:nth-child(1).--show {
        translate: 0px 0px;
        rotate: 45deg;
        transition: translate 0.3s,
            rotate 0.6s 0.3s;
    }

    .mobile__hb span:nth-child(2).--show {
        display: none;
        transition: opacity 0.3s;
    }

    .mobile__hb span:nth-child(3).--show {
        width: 70%;
        translate: 0px 0px;
        rotate: -45deg;
        transition: translate 0.3s,
            rotate 0.6s 0.3s;
    }

    header{
        width: 100%;
        height: 100%;
        flex-wrap: wrap;
        justify-content: center;
        position: fixed;
        top: 0;
        text-align: center;
        background-color: black;
    }

    .header__logo{
        display: flex;
        flex-wrap: wrap;
        margin: auto;
        justify-content: center;
        width: 100%;
    }

    header img{
        height: 100px;
    }
    
    header a{
        display: block;
        margin: 3em auto;
        padding: 5px 0;
        line-height: 20px;
    }
    
    header a.show{
        color: #666;
        border-bottom: 3px solid #d95521;
        width: 30%;
        display: flex;
        justify-content: center;
    }

/* service */
    .service{
        width: 70%;   
    }

    .service h1::before{
        left: 15px;
    }

    .service__card{
        justify-content: center;
    }

    .service__text{
        width: 100%;
        margin-bottom: 2em;
    } 
/* ----------------------------------------- */

 /* showreel */
    .showreel h1::before{
        left: 45px;
    }

    .showreel__wrapper{
        margin: 0;
        background-color: rgba(255, 255, 255, 0);
    }

    .showreel__cover{
        width: 90%;
        flex-wrap: wrap;
    }

    .showreel__outer{
        flex-wrap: wrap;
        width: 90%;
    }
    .showreel__card{
        margin: 1em 0;
    }

    .showreel__card:nth-of-type(3n+1){
        display: none;
    }

    .showreel__wrapper #btnLeft,
    .showreel__wrapper #btnRight{
        display: none;
    }

    .showreel__mb{
        background-color: transparent;
        border: 1px solid #eee;
        border-radius: 20px;
        padding: 10px 50px;
        margin: auto;
        display: flex;
        cursor:pointer;
        transition: .3s;
    }
    
    .showreel__pc{
        display: none;
    }

    .showreel>button{
        background-color: #eee;
        border: none;
        color: #333;
    }
/* ----------------------------------------- */

 /* team */
    .team{
        width: 85%;
    }

    .team h1::before{
        left: 80px;
    }

    .team__wrapper{
        flex-wrap: wrap;
    }

    .team__card{
        width: calc(100% / 1);
        margin: 3em 2em;
    }
/* ----------------------------------------- */

/* contact */
    .contact{
        flex-wrap: wrap;

        width: 100%;
        display: flex;
        margin: auto;
        padding: 5em 0 0;
    }

    .contact__left{
        width: 100%;
    }

    .contact__wrapper{
        width: 80%;
        margin: 5em auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .contact__text>h1,
    .contact__text>p{
        text-align: center;
    }
    .contact__add>p,
    .contact__add>h1{
        text-align: left;
    }

    .contact__text{
        margin-bottom: 5em;
    }

    .contact__tel{
        border-bottom: 1px solid #ccc;
        margin: 1em 0;
        color: #d95521;
    }

    .contact__add{
        border-bottom: none;
    }

    .contact__right{
        width: 100%;
    }

    .contact__information{
        justify-content: center;
    }
/* ----------------------------------------- */

}